* {
  margin: 0px;
  padding: 0px;
}

.main {
  padding-top: 40px;
}

.navbar.fixed-bottom {
  padding: 20px;
}

#banner {
  width: 100%;
  background-color: #ffd220;
  height: 400px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

body {
  background-color: #c7fff3;
}

.imagelogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cutie-pie {
  padding: 30px;
  border-radius: 50px;
  width: 500px;
  height: 200px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  float: left;
  background-color: #ffd220;
}

.cute-header {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}