{% extends "base.html" %}

{% block content %}
<div class="cutie-pie">
  <h2 class="cute-header">Encrypt your messages here!</h2>
  <p class="lead">encrypt messages with emoji's to send to others</p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('encrypt') }}" role="button">Encrypt a message!</a>
</div>
<div class="cutie-pie">
  <h2 class="cute-header">Decrypt your messages here!</h2>
  <p class="lead">decrypt messages you have recieved</p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('decrypt') }}" role="button" style="justify:center" >Decrypt a message!</a>
</div>
{% endblock %}
